 .content{
 width : 60%;
 float : left;
 padding :0 0 0 30px;
 height:100%;
}

 .sidebar{
 width : 40%;
 float :right;
 padding: 10px;
 height :100%;

}

.card{
background:#ffcc99;
color:black;
}

h1{
text-align:center;
padding-bottom:10px;
}

body{
color:white;
background:#006666;
}
#date{
color:#00cc99;
font-size:15px;
font-style:italic;
}
h2{
color:white;
}
