{% extends 'blog/basic.html' %}
{%load staticfiles%}
{% block title_block %}{{post.title}}{% endblock %}
    {% block content %}
        <h1>{{post.title}}</h1>
        <p id="date">Published on {{post.publish}} by {{post.author|title}}</p>
        {{post.body|linebreaks}}
        <div class="container" align="center">
            <a href="/{{post.id}}/share" class="btn btn-dark">Share Post By Email</a>
        </div>
        {% with comments.count as comments_count %}
            <h4>{{comments_count}} Comment {{comments_count|pluralize}}</h4>
        {% endwith %}
        {% if comments %}
            {% for comment in comments %}
            <div class="comments" style="padding: 10px;">
              <p class="font-weight-bold">
                {{ comment.name }}
                <span class=" text-muted font-weight-normal">
                  {{ comment.created }}
                </span>
              </p>
              {{ comment.body | linebreaks }}
            </div>
            {% endfor %}
        {% else %}
            <p>There are no Comments Yet!!!</p>
        {% endif %}

        <div class="card-body">
            {% if new_comment %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting moderation
                </div>
            {% else %}
                <h3>Leave a comment</h3>
                <form method="post" >
                    {{ comment_form.as_p }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-dark">Submit comment</button>
                </form>
            {% endif %}
        </div>

    {% endblock %}




